@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans&display=swap');

body {
  margin: 0;
  background-image: url('/images/people.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans';
}

h3 {
  font-family: 'Grape Nuts';
  font-weight: normal;
  font-size: 200%;
  margin: 15px 0 0 0;
}

main {
  max-width: 650px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.author {
  cursor: pointer;
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

.author:nth-child(odd) h3 {
  color: rgb(52, 56, 191);
}

.author-name {
  user-select: none;
  -webkit-user-select: none;
}